@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

.bcc {
padding-top: 4rem;
}
#cardimg{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 30vh;
    margin-bottom: 2rem;
}
.headline h4 a {
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
}
h2 {
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
    color: rgb(24, 137, 202);
    font-family: 'Luxurious Roman', cursive;
}