{% import 'macros.html' as macro %}
{% extends 'base.html' %}
{% block content %}
    <div class="NewsSources">
        {% for articles in articles_results_list  %}
        <li>{{articles.get('sources')}}</li>
        {% endfor %}

    </div>

    <h2>General News</h2>
    <ul>
        {{macro.displayNewsList(general)}}            
    </ul> 
    <h2>health News</h2>
    <ul>
        {{macro.displayNewsList(health)}}            
    </ul> 
    <h2>Sports News</h2>
    <ul>
        {{macro.displayNewsList(sports)}}            
    </ul>
{% endblock %}